/*
Global styles
*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size: 3em;
}

h1, h2, p {
  font-family: sans-serif;
}

body {
  margin: 0;
}

/*
Header styles
*/
header {
  padding: 50px;
  margin: 0;
  background-color: turquoise;
}

.banner {
  text-align: center;
  position: relative;
  margin-top: 0;
}

.banner h1 {
  color: white;
  padding-top: 20px;
}

.banner p {
  color: white;
  font-weight: bold;
  display: inline-block;
  width: 50%;
}


/*
Main (active area) styles
*/

#container {
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
  background-color: red;
  padding: 200px;
  margin: 0;
}

#box {
  font-size: 6em;
}
